<h1>All Documents</h1>
<!--<%= link_to new_document_path, class: "btn btn-success pull-right", data: {turbolinks: false} do %>
    <i class="fa fa-plus"></i> New Document
<% end %>-->
<%= documents_table @documents %>
<br>
